.modal {
    position: fixed;
    z-index: 20;
    background-color: #1e1e1e59;
    height: 100%;
    width: 100%;
    display: none;
}

.modalcon {
    padding: 2px 16px;
    background: #bfa0ff;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-size: 20px;
}

.closem {
    float: right;
    font-size: 23px;
}

.modalh {
  padding: 2px 16px;
  background-color: #8162c1;
  color: white;
  border-radius: 10px 10px 0px 0px;
  height: fit-content;
}


.modalcontainer {
    width: fit-content;
    margin: 10% auto auto auto;
    /* display: block; */
    /* position: fixed; */
    /* top: 20%; */
    border-radius: 10px;
    min-width: 20%;
    max-width: 60%;
}

#mht {
    margin-top: 1%;
    margin-bottom: 1%;
}



@media (max-width: 699px) {

  #mht {
      margin-top: 1%;
      margin-bottom: 4%;
  }

  .modalh {
      height: fit-content;
      font-size: 100%
  }

  .modalcontainer {
    margin: 20% auto auto auto;
    
  }
}